*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(picttures/abysssss.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 20rem;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    left: -20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #f6e3ae;
    text-transform: uppercase
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #5b4303;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    position: relative;
    top: 120px;
    
    text-align: center;
    background: transparent;
    font-size: 30px;
    background: -webkit-linear-gradient(#c39d71, #f6e3ae,#c39d71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
    position: relative;
    align-items: center;
    background-color: #0d1e37;
    font-family: "Open Sans";
    color: #f6e3ae;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #f6e3ae;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #5b4303;
}
.switch{
    position: relative;
    box-shadow: #5b4303;
}
